// base
@import "./base/variables";
@import "./base/mixins";
@import "./base/fonts";
@import "./base/zeroing";
@import "./base/ibg"; 
@import "./base/burger"; 
@import "./libs/swiper-bundle.min";
// @import "./base/select";

// blocks
@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/btn";
@import "./blocks/hero";
@import "./blocks/catalog";
@import "./blocks/subscription";


// global styles
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

.page {
  flex: 1 1 auto;
}
body{
	&::-webkit-scrollbar{
		width: 16px;
	}
	&::-webkit-scrollbar-thumb{
		background: $blue;
		border-radius: 8px;
	}
	&::-webkit-scrollbar-track{
		background: transparent;
	}
}
body.hidden{
  overflow: hidden;
}

// media
@import "./base/media";
